@import "utils";
@import "typography";
@import "transfer";
@import "toggle";
@import "container";
@import "card";
@import "checkbox";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $c-gray;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

header {
  height: 60px;
  margin-top: 50px;
}

.header-logo {
  display: block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  transition: 0.8s;
}

.header-logo:hover {
  transform: scale(1.2, 1.2) rotate(360deg);
}
