.toggle {
  display: flex;
  width: $card-width;
  height: 50px;
  border: 1px solid #DFE5EC;
  border-radius: $border-radius;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  overflow: hidden;
  
  &__cheap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: $main-color;
    color: #ffffff;
  }

  &__fast {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #ffffff;
  }
}