.way {
  width: 462px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &--top {
      color: $details-color;
      text-transform: uppercase;
      font-size: 12px;
    }

    &--bottom {
      font-size: 14px;
      color: $text-color;
    }
  }
}
