$c-gray: #e5e5e5;
$details-color: #a0b0b9;
$main-color: #2196f3;
$text-color: #4a4a4a;
$hover-color: #f1fcff;

$border-radius: 5px;
$card-width: 502px;
$card-height: 184px;
$card-logo-width: 110px;
$card-logo-height: 36px;
$checkbox-size: 20px;
