$c-gray: #E5E5E5;
$details-color: #A0B0B9;
$main-color: #2196F3;
$text-color: #4A4A4A;
$hover-color: #F1FCFF;

$border-radius: 5px;
$card-width: 502px;
$card-height: 184px;
$card-logo-width: 110px;
$card-logo-height: 36px;
$checkbox-size: 20px;
